
.fotoTexto{
    background-color: #99004d;
    color: white;
    height: 100vh;
}
.ed{
    background-color: #99003d;
    color: white;
    height: 100vh;
}
.edTitulo{
    background-color:#800033;
    ;
}
.exp{
    background-color: darkmagenta;
    height: 100vh;
}
.imgPersonal{
    width: 100%;
}
.pFolio{
    background-color: blueviolet;
    height: 100vh;
}
.barra{
    background-color: #ff5050;
    height: 100vh;
}
