.fotoTexto{
    background-color: pink;
    height: 100vh;
}
.ed{
    background-color: red;
    height: 100vh;
}
.exp{
    background-color: brown;
    height: 100vh;
}
.imgPersonal{
    width: 100%;
}